<div>
  <h1>
    <%= @wiki.first.title %> <br>
    <small>
      submitted <%= time_ago_in_words(@wiki.created_at) %> ago by <%= @wiki.user.email %>
    </small>
  </h1>
</div>

<div class="row">
  <div class="col-md-8">
    <p><%= @wiki.first.body %></p>
  </div>
</div>
